*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../bg.jpg");
    min-height: 100vh;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
#scorebox{
    position: absolute;
    top: 7px;
    right:150px;
    font-size: 30px;
    font-weight: bold;

}
#hiscorebox{
    position: absolute;
    top: 45px;
    right:113px;
    font-size: 30px;
    font-weight: bold;
}
#board{
    background: linear-gradient(rgb(161, 213, 161),rgb(229, 229, 150));
    width: 90vmin;
    height: 92vmin;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);


}
.snake {
  background-color:rgb(234, 9, 9);
  border: .25vmin solid white;
  border-radius: 10px;
 
}
.head{
    background:linear-gradient(red,yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 6px;
    
}
.food{
    background-color: pink;
    border: .25vmin solid black;
    border-radius: 8px;
    
}


